# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://yourUserName:yourPassword@localhost:5432/yourDatabase?schema=public"
GOOGLE_ID='694206942069-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com'
GOOGLE_SECRET='XXXXXX-xxXXXXXX_xxxxxxxxxxxxxxxxxxx'
GITHUB_ID='69420xxxxx666xxxx420'
GITHUB_SECRET='hbdbfsdhfkiudeihuewedief9e8377990323irne'
GITHUB_SECRET='51d5b65015420b576aa0d16b6959c5d98b1dc3fb'
NEXTAUTH_URL='http://localhost:3000/api/auth'
SECRET='ifbe7ry8rhfur9'